<a href="https://colab.research.google.com/github/Vonewman/Algo/blob/master/Supervised_learning_with_tensorflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import tensorflow as tf
print(tf.__version__)

2.0.0

## Implementation of a Linear Regression Model, using Tensorflow and Keras

### 1. Import the requiered modules.

In [0]:
import numpy as np
import pandas as pd
import seaborn as sb
import tensorflow as tf
from tensorflow import keras as ks

In [12]:
from tensorflow.estimator import LinearRegressor
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
print(tf.__version__)

2.0.0

### 2. Load and configure the Boston housing data set.

In [13]:
boston_load = datasets.load_boston()
feature_columns = boston_load.feature_names
target_column = boston_load.target
boston_data = pd.DataFrame(boston_load.data,
                           columns=feature_columns).astype(np.float32)
boston_data['MEDV'] = target_column.astype(np.float32)
boston_data.head()

      CRIM    ZN  INDUS  CHAS  ...    PTRATIO           B  LSTAT       MEDV
0  0.00632  18.0   2.31   0.0  ...  15.300000  396.899994   4.98  24.000000
1  0.02731   0.0   7.07   0.0  ...  17.799999  396.899994   9.14  21.600000
2  0.02729   0.0   7.07   0.0  ...  17.799999  392.829987   4.03  34.700001
3  0.03237   0.0   2.18   0.0  ...  18.700001  394.630005   2.94  33.400002
4  0.06905   0.0   2.18   0.0  ...  18.700001  396.899994   5.33  36.200001

[5 rows x 14 columns]

### 3. Check the relation between the variables, using 
###    pairplot and a correlation graph.

In [0]:
sb.pairplot(boston_data, diag_kind="kde")

In [0]:
correlation_data = boston_data.corr()
correlation_data.style.background_gradient(cmap='coolwarm', axis=None)